// Colours
$color-theme: #FFC1CC;
$color-theme--tint: #D79CA7;
$color-text: #222222;

// Fonts and weights
$font-primary: 'Lato', sans-serif;
$bold: 700;
$reg: 400;
$light: 300;

// Sizing
$max-width: 640px;

$border-radius: 6px;