/* Base styles */

html {
    font-size: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *::before, *::after {
    margin: 0;
    padding: 0;
    border: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
    position: relative;
    font-size: 16px;
    font-family: 'Kumbh Sans', sans-serif;
    background-color: lightgrey;
}

.wrapper {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: $color-dark-cyan;
}

.container {
    padding: 0px 20px;
    width: 100%;
    @include breakpoint-up(large) {
        max-width: 1200px;
        margin-left: auto;
        margin-right: auto;
    }
}

img {
    max-width: 100%;
    height: auto;
}

//