// Colours

$color-dark-cyan: hsl(185, 75%, 39%);
$color-dark-blue: hsl(229, 23%, 23%);
$color-gray-blue: hsl(227, 10%, 46%);
$color-dark-gray: hsl(0, 0%, 59%);

// Font-sizes

$font-lrg: 18px;
$font-med: 15px;
$font-sml: 12px;
