// Colours

$color-primary: hsl(176, 50%, 47%);
$color-primary--tint: hsl(176, 72%, 28%);

$color-black: #000000;
$color-gray: hsl(0, 0%, 48%);
$color-white: #ffffff;


// Font-sizes

// Utilities
$border-color: #F2F2F2;
$border-radius: 6px;
