.icon-pods {
    text-align: center;
    position: relative;
    z-index: 2;
    margin-top: 120px;

    @include breakpoint-up(medium) {
        margin-top: 0;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: var(--global-padding);
        margin-bottom: 120px;

        h2 {
            grid-column: 1 / -1;
            margin-bottom: 80px;
        }
    }
}

.icon-pod {
    margin-bottom: 40px;

    @include breakpoint-up(medium) {
        margin-bottom: 0;
    }

    p {
        color: var(--color-mauve);
    }
}

.icon-pod__img {
    display: block;
    height: 86px;
    width: 86px;
    margin: 0 auto 35px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

    @include breakpoint-up(medium) {
        margin-left: 0;
    }
}

.icon-bolt {
    background-image: url(../img/icon-bolt.svg);
}

.icon-coin {
    background-image: url(../img/icon-coin.svg);
}

.icon-user {
    background-image: url(../img/icon-user.svg);
}