// Colours
:root {
    --color-text: #dddbff;
    --color-text--alt: #848794;
    --color-bg: #1d2c67;
    --color-darkest: #0c122c;
    --color-lightest: #ffffff;
}
// Font-sizes


$font-sml: .875rem; // 14px
$font-med: 1.125rem; // 18px

$font-xl: 3.25rem; // 52px;