.delete-anim {
    animation-name: delete-anim;
    animation-duration: .4s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards;
}

@keyframes delete-anim {
    0% {
        position: relative;
        left: 0;
        opacity:1;
    }
    100% {
        left: -100%;
        opacity: 0;
    }
}