// Colours
$color-white: #ffffff;
$color-dark-blue: hsl(238, 29%, 16%);
$color-soft-red: hsl(14, 88%, 65%);
$color-very-dark-blue: hsl(240, 6%, 50%);
$color-dark-blue: hsl(237, 12%, 33%);

$color-light-gray-blue: hsl(240, 5%, 91%);

// Gradients
$gradient-bg: linear-gradient(to bottom, #af67e9, #6565e7);

// Font-sizes
