// Colours

$color-red: hsl(0, 78%, 62%);
$color-cyan: hsl(180, 62%, 55%);
$color-orange: hsl(34, 97%, 64%);
$color-blue: hsl(212, 86%, 64%);

$color-blue--dark: hsl(234, 12%, 34%);
$color-gray: hsl(229, 6%, 66%);
$color-gray--light: hsl(0, 0%, 98%);