.bg-orange {
    background-color: $color-orange;
}

.bg-cyan {
    background-color: $color-cyan;
}

.bg-cyan--dark {
    background-color: $color-cyan--dark;
}

.icon {
    display: block;
    height: 40px;
    width: 65px;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.icon--sedan {
    background-image: url(../img/icon-sedans.svg);
}

.icon--suv {
    background-image: url(../img/icon-suvs.svg);
}

.icon--luxury {
    background-image: url(../img/icon-luxury.svg);
}