// Colours
$color-orange: hsl(31, 77%, 52%);
$color-cyan: hsl(184, 100%, 22%);
$color-cyan--dark: hsl(179, 100%, 13%);
$color-white: hsla(0, 0%, 100%, 0.75);
$color-gray: hsl(0, 0%, 95%);


// Font-families

$font-primary: 'Lexend Deca', sans-serif;
$font-secondary:'Big Shoulders Display', cursive;